{% extends "base-main.html" %}

{% load staticfiles %}
{% block js %}

    <script src="{% static "js/base/jquery.js" %}"></script>


    <style>
    #map-canvas {
        margin: 0;
        padding: 0;
        height: 60%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ru"></script>

    <script>

    function detectBrowser() {
      var useragent = navigator.userAgent;
      var mapdiv = document.getElementById("map_canvas");

      if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
        mapdiv.style.width = '100%';
        mapdiv.style.height = '100%';
      } else {
        mapdiv.style.width = '600px';
        mapdiv.style.height = '800px';
      }
    }

    var map;

    function initialize() {
    var myLatlng = new google.maps.LatLng(60.7888889, 93.7752778);
    var mapOptions = {
        zoom: 3,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


    {% for elem in docs_without_repeats %}

            var myLatLng = new google.maps.LatLng({{elem.local_coords_lat}}, {{elem.local_coords_lng}});
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{elem.local_name}}',
            });
            marker.setTitle({{elem.name}});
            attachSecretMessage(marker, '<a href="/localname/{{elem.local_name}}">{{elem.local_name}}</a>');
    {% endfor %}
    }
    
    function attachSecretMessage(marker, name) {
        var infowindow = new google.maps.InfoWindow({
        content: name
        });

        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(marker.get('map'), marker);
        });
        }

google.maps.event.addDomListener(window, 'load', initialize);    </script>


{% endblock %}


{% block content %}

  <div class="page-header" id="banner">

        <div class="row">
<div class="bs-example">
          <div class="col-lg-6">
            <h1><a href="{% url add %}" target="_blank">Загружаем</a> Excel-файл...</h1>
            <p class="lead">...получаем JSON, CSV, несколько видов визуализации бюджета и благодарность жителей России!</p>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <h3>Загружено бюджетов: <a href="/all/">{{num_docs}}</a></h3>
                <h4>Из них федеральных: <a href="/federal/">{{num_fed_docs}}</a></h4>
                <h4>Из них региональных: <a href="/regional/">{{num_reg_docs}}</a></h4>
                <h4>Из них муниципальных: <a href="/local/">{{num_loc_docs}}</a></h4>
            </div>
          </div>
        </div>
      </div>

    <div class="row" style="text-align:center;">
            <div class="col-lg-12">
                <h1 style="text-align: left;">Местные бюджеты</h1>
                <div id="map-canvas"></div>
            </div>
    </div>
<hr>
    <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
              <h1 id="type">Последние загрузки</h1>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-4">
            <div class="bs-example">
                <h3>Федеральные</h3>
                {% if fed_docs %}
                <ul>
                {% for document in fed_docs %}
                    <li><b>{{ document.get_year_display }}</b> | <a href="../budget/{{ document.id }}">{{ document.authority_name }}</a>
                {% endfor %} 
                {% endif %}             
            </div>     
          </div>
          <div class="col-lg-4">
            <div class="bs-example">
                <h3>Региональные</h3>
                {% if reg_docs %}
                <ul>
                {% for document in reg_docs %}
                    <li><b>{{ document.get_year_display }}</b>| <a href="/region/{{document.region.code_rus}}">{{document.region.name}}</a> | <a href="/budget/{{ document.id }}">{{ document.authority_name }}</a>
                {% endfor %}              
                {% endif %}
            </div>

          </div>
          <div class="col-lg-4">
            <h3>Муниципальные</h3>
            {% if loc_docs %}
                <ul>
                {% for document in loc_docs %}
                    <li><b>{{ document.get_year_display }}</b>| <a href="/region/{{document.region.code_rus}}">{{document.region.name}}</a> | <a href="/budget/{{ document.id }}">{{ document.authority_name }}</a>
                {% endfor %}              
                {% endif %}
          </div>
            
          </div>
        </div>
        

        

{% endblock %}
