{% extends "base-main.html" %}

{% block js %}

{% endblock %}


{% block content %}


<h1>Как помочь проекту</h1>
<br><br>
<p>Проект создан на общественных началах и как минимум будет существовать в том виде, в котором он находится сейчас за исключением исправления существующих багов.</p>

<p>Но это не значит, что у него не будет развития. Но развитие проекта зависит в том числе и от вас.</p>

<p>Как же помочь?</p>

<h2 id="help">Всем-всем-всем</h2>

<p>Вне зависимости от вашего рода деятельности вы можете помочь проекту разными способами:</p>

<h4 id="help">Социальные сети, блоги</h4>
<p>Самое простое, что можно сделать для проекта - это расскажите о нем своим друзьям в социальных сетях и призовите их поучаствовать в жизни проекта.<br>
<div class="social">
<div class="social-buttons-page" style="float:left; margin-bottom:4px;">
<script type="text/javascript">
  VK.init({apiId: 3874766, onlyWidgets: true});
</script>
<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button", height: 24});
</script>
</div>
<div class="social-buttons-page" style="float:left; margin-bottom:4px;">
<div class="fb-like" data-href="http://visualbudget.ru" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
</div>
<div class="social-buttons-page" style="float:left; margin-bottom:4px; margin-left:40px;">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://visualbudget.ru" data-text="Мне понравился портал Открытый Бюджет - Visual Budget" data-lang="ru" data-related="choojoy_pp">Твитнуть</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="social-buttons-page" style="float:left; margin-bottom:4px;">
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>
</div>
<br><br>
<p>Сообщите о проекте читателям своего блога.</p>

<h4 id="help">Добавить бюджет</h4>

<p>Найдите один или несколько бюджетов и добавьте на сайт</p>
<!-- <p>Информация о том, где искать и как добавить бюджет на сайт вы найдете в соответствующих разделах</p>-->

<h4 id="help">Сообщить о визуализации</h4>
<p>Если вдруг где-то на просторах интернета вы видели интересную и полезную визуализацию бюджета - <a href="http://openbudget.reformal.ru/" target="_blank">сообщите</a>, пожалуйста, о ней.</p>

<h4 id="help">Краудфандинг</h4>

<p>Если бы вы пожертвовали на развитие проекта, это было бы отлично.</p>

<p>Сделать это можно как в целом на развитие проекта, так и на реализацию одной из запланированных функций. Увидеть дальнейшие планы можно на странице <a href="/intentions/" target="_blank">"Что будет дальше?"</a>. И если вы пожертвовали на реализацию конкретного функционала - как только будет собрана достаточная сумма, начнется реализация этого функционала. (В случае если вы жертвуете на конкретный функционал - не забывайте это указывать в комментариях)</p>

<p>Если вы хотите, чтобы ваше пожертвование было неанонимным - стоит также указать это.</p>

<p>Перевести деньги можно на расчетный счет или на один из электронных кошельков (Яндекс.Деньги, WebMoney, QIWI, PayPal).</p>

<p>Если вы решились - вам сюда: <a href="/donate/">Donate</a></p>

<h4 id="help">Сообщить об ошибке</h4>
Если вы нашли ошибку или глюк на сайте - <a href="http://openbudget.reformal.ru/" target="_blank">сообщите</a>, пожалуйста, о них.</p>

<h2 id="help">Если вы гражданский активист</h2>

<h4 id="help">Сообщества</h4>
<p>Раз вы гражданский активист, значит, скорее всего вы состоите в каком либо сообществе. Расскажите в своем сообществе о нашем проекте и подумайте, как он может быть вам полезен, а вы ему.</p>

<h4 id="help">Создание и ведение своего подпроекта</h4>
Скорее всего, раз вы гражданский активист, вы интересуетесь какой либо отраслью в жизни нашего государства, или просто вам важно, что происходит в вашем муниципалитете, регионе, стране. В любом случае, у вас точно есть ведомства, которые находятся под вашим чутким присмотром.</p> 
<p>Не поленитесь, добавьте бюджет этого ведомства к нам на сайт. Или же запросите бюджет, если в открытом виде его пока нет. В большинстве случаев вам его обязаны предоставить по закону. Если вам отказываются предоставлять такую информацию - обратитесь к <a href="http://pravo2info.ru/" target="_blank">нашим друзьям</a>, они помогут.
<p>Можем выделить вам субдомен под ваше ведомство, а вы его будете вести и актуализировать.</p>

<h2 id="help">Если вы эксперт по открытым данным или госуправлению</h2>

<h4 id="help">Дайте нам совет</h4>
<p>Скорее всего что-то мы делаем не совсем верно и где-то могли бы сделать лучше.</p> 
<p>Пожалуйста, <a href="http://openbudget.reformal.ru/" target="_blank">подскажите</a>, <a href="http://openbudget.reformal.ru/" target="_blank">дайте совет</a>, <a href="http://openbudget.reformal.ru/" target="_blank">наставьте на путь истинный</a>.</p>
<p>И укажите, как с вами связаться, чтобы мы могли обратиться за разъяснениями.</p>

<h2 id="help">Если вы журналист</h2>

<h4 id="help">Напишите статью о проекте</h4>    
<p>Если вы являетесь журналистом, то вы одной статьей можете популяризировать этот ресурс и привлечь на него неравнодушных людей. Если формат вашего издания допускает возможность публикации обзора этого ресурса - мы были бы очень благодарны.</p>
<p>Если необходимо что-то уточнить у его создателей, то <a href="http://choojoy.ru" target="_black">пишите нам или звоните</a>, но стоит помнить, что программисты зачастую работают ночью и просыпаются днем.</p>

<h2 id="help">Если вы программист</h2>

<h4 id="help">Протестируйте код</h4>
<p>Исходный код проекта написан на Python, используется фреймворк Django и база данных PostgreSQL. Исходный код доступен на GitHub под лицензией MIT. Если вы укажите на недостатки в коде, как по производительности, так и по безопасности - это будет прекрасно.</p>

<h4 id="help">Напишите новую визуализацию или загрузку бюджета</h4>
<p>Также вы можете написать свою визуализацию для бюджетных данных под наш формат (JSON, CSV), посмотрев его на <a href="/all/" target="_blank">любом из загруженных бюджетов</a> и прислать ее нам. Если она будет удобной и полезной, мы встроим ее в страницу бюджета.</p> 
<p>Также с удовольствием примем разбор документов какого-либо формата, что не представлен у нас. Главное, чтобы это было написано на Python.</p>


<h2 id="help">Если вы госслужащий</h2>

<h4 id="help">Подскажите, как нам стать лучше</h4>
<p>Скорее всего что-то мы делаем не совсем верно и где-то могли бы сделать лучше.</p> 
<p>Пожалуйста, <a href="http://openbudget.reformal.ru/" target="_blank">подскажите</a>, <a href="http://openbudget.reformal.ru/" target="_blank">дайте совет</a>, <a href="http://openbudget.reformal.ru/" target="_blank">наставьте на путь истинный</a>.</p>
<p>И укажите, как с вами связаться, чтобы мы могли обратиться за разъяснениями.</p>

<h4 id="help">Возьмите бюджет к себе на сайт</h4>
<p>Вы всегда можете взять визуализацию бюджета к себе на сайт (предварительно загрузив ваш бюджет). Сейчас это можно сделать просто сохранив страницу и вытащив оттуда нужный код. Если же вам будет сложно, об этом всегда можно попросить вашего программиста или системного администратора.</p>
<p>В скором времени планируется появления удобного экспорта визуализаций и данных на сторонние ресурсы.</p>
<p>Ну а пока единственная просьба ставить обратную ссылку.</p>

<h4 id="help">Закажите портал Открытого бюджета своему ведомству</h4>
<p>Вы можете заказать у нас портал открытого бюджета для своего ведомства, а мы же все разработки, которые будут сделаны для вас и которых не хватает на этом сайте, внедрим сюда. Таким образом можно быть втройне полезным для общества.</p>
<p><a href="/contacts/">Свяжитесь с нами</a></p>


<h2 id="help">Если вы готовы стать меценатом/спонсором</h2>

<p><a href="/contacts/">Свяжитесь с нами</a></p>

<h2 id="help">Если вы дизайнер</h2>
<p>Нарисуйте картинки к этому разделу и предоставьте уже готовые, чтобы он был менее скучным :)</p>

{% endblock %}
