{% extends "base-main.html" %}

{% load staticfiles %}

{% block content %}

<h1>Что будет дальше</h1>
<br>
<p>На этой странице публикуются как ближайшие планы на развитие проекта, так и чего бы хотелось реализовать в будущем.</p>

<h3>Ближайшие планы</h3>
<ul>
    <li>Добавить разные цвета в TreeMap и BubbleTree</li>
    <li>Внедрение механизмов визуализации BubbleCharts(<a href="http://www.chriswhong.com/nycbudget/" target="_blank">пример</a>), OneGrain(<a href="http://theopenbudget.org/" target="_blank">пример</a>)</li>
    <li>Импорт данных из xlsx- и odt-фалов</li>
    <li>Экспорт данных в виде embed-html-кода для публикации на сторонних страницах</li>
    <li>Генерация html-кода для публикации на сторонних сайтах</li>
</ul>


<h3>В будущем</h3>
<ul>
    <li>Загрузка svg-карт всех регионов РФ и наложение их на карты Google или Яндекс для удобного поиска (кстати, если такое уже существует - <a href="http://openbudget.reformal.ru/">сообщите</a>, пожалуйста. Или хотя бы svg-карта России с детализацией до муниципального образования).</li>
    <li>Экспорт данных на портал <a href="http://openspending.org">OpenSpending.org</a></li>
    <li>Создание API для работы с порталом.</li>
    <li>Загрузка и визуализация деклараций чиновников.</li>
    <li>Реестр всех муниципальных образований России.</li>
</ul>
<br>
<p><b>Вы можете ускорить реализацию этого функционала, совершив <a href="/donate/">донейт</a></b></p>
{% endblock %}
